body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}


.text-small {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.MainContent{
    margin: 100px 150px 100px 80px;
}

body {
    background-color: white;
    align-content: center;
}
.comments > label
{
  float: left;
  clear: right;
}

.comments > input
{
  float: right;
}

